<div class="background-brand top">
  <a class="micro-xs-vertical-padding micro-sm-horizontal-padding tiny-sm-padding" href="/">
    <div class="logo"></div>
  </a>
</div>

<nav>
  <ul>
    <li class="nested-icon-normal-hover nested-icon-brand-active">
      <a class="micro-xs-vertical-padding micro-sm-horizontal-padding tiny-sm-padding" href="https://stockflare.com/explore">
        <i class="icon-royal icon ion-compass"></i>
        <div class="tooltip bordered background-dark text-normal micro-xs-padding">
          <h5>Explore</h5>
        </div>
      </a>
    </li>
    <li class="background-twilight-active nested-icon-normal-hover nested-icon-brand-active">
      <a class="micro-xs-vertical-padding micro-sm-horizontal-padding tiny-sm-padding" href="https://stockflare.com/stocks">
        <i class="icon-royal icon ion-lightbulb"></i>
        <div class="tooltip bordered background-dark text-normal micro-xs-padding">
          <h5>Pick Stocks</h5>
        </div>
      </a>
    </li>
    <li class="nested-icon-normal-hover nested-icon-brand-active">
      <a class="micro-xs-vertical-padding micro-sm-horizontal-padding tiny-sm-padding" href="https://stockflare.com/search">
        <i class="icon-royal icon ion-search"></i>
        <div class="tooltip bordered background-dark text-normal micro-xs-padding">
          <h5>Search</h5>
        </div>
      </a>
    </li>
    <li class="nested-icon-normal-hover nested-icon-brand-active">
      <a class="micro-xs-vertical-padding micro-sm-horizontal-padding tiny-sm-padding" href="https://stockflare.com/watchlist">
        <i class="icon-royal icon ion-eye"></i>
        <div class="tooltip bordered background-dark text-normal micro-xs-padding">
          <h5>My Watchlist</h5>
        </div>
      </a>
    </li>
    <li class="nested-icon-normal-hover nested-icon-brand-active">
      <a class="micro-xs-vertical-padding micro-sm-horizontal-padding tiny-sm-padding" href="https://stockflare.com/alerts">
        <i class="icon-royal icon ion-ios-bell"></i>
        <div class="tooltip bordered background-dark text-normal micro-xs-padding">
          <h5>My Alerts</h5>
        </div>
      </a>
    </li>
  </ul>
</nav>

<div class="controls">
  <a href="http://stockflare.com/about" target="_blank" class="letterbox letterbox-icon tiny-letterbox background-normal-active tiny-xs-vertical-margin background-normal-hover background-royal">
    <i class="icon-dark icon ion-help"></i>
    <div class="tooltip bordered background-dark text-normal micro-xs-padding">
      <h5>About</h5>
    </div>
  </a>
  <a href="https://stockflare.com/login" class="letterbox background-normal-active letterbox-icon tiny-letterbox tiny-xs-vertical-margin background-normal-hover background-royal">
    <i class="icon-dark icon ion-person"></i>
    <div class="tooltip bordered background-dark text-normal micro-xs-padding">
      <h5>Login</h5>
    </div>
  </a>
  <a href="https://stockflare.com/register" class="letterbox nested-icon-normal nested-icon-brand-active
  background-normal-active letterbox-icon tiny-letterbox tiny-xs-vertical-margin background-brand">
    <i class="icon ion-person-add"></i>
    <div class="text-normal tooltip bordered background-dark text-normal micro-xs-padding">
      <h5>Register</h5>
    </div>
  </a>
</div>